<!-- About section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
	<h2>About</h2>
	<hr class="angle-double-down-light">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 text-center"><!--col-md-offset-2 text-center">-->
	<!--  <center> -->
	<img src="{{ SITEURL }}/images/about/profpic.jpg" title="Photo credit: carolynannmeers.wordpress.com">
      </div>
      <div class="col-sm-6">
	<p>I'm a 26 year old graduate student in physics at Columbia University who used to love neutrinos but now loves data science.</p>
	<p>My goal is to develop the necessary skills to get a job in data science after I graduate, with the aim of making an impact on the world.</p>
	<p>Other interests include chess, my dog Rosie, sleeping, and life away from a computer screen.</p>
	<p>If you're a chess player, <a href="http://en.lichess.org/@/n3utrino" style="color: white; text-decoration: underline">play with me</a>!</p>
	<!--<script>lichess_widgets.profile("dark", "n3utrino");</script> </p>-->
      </div>

    </div>
    
  </div>
</section>
